html{
  font-family: 'Poppins', sans-serif;
}
body{
    margin: 0 !important;
}

.fs-1{
    font-size: 3rem !important;
}
.fs-5{
    font-size: 1rem !important;
}
.font-bold{
    font-weight: 700 !important;
}
.font-light{
    font-weight: 300 !important;
}
.font-normal{
    font-weight: 400 !important;
}

.text-white{
    color: #FFFFFF !important;
}

.text-black{
    color: #161616 !important;
}

.btn{
    color: #FFFFFF !important;
    border-radius: 8px !important;
    padding: 0.5rem 1rem;
    border: none !important;
    cursor: pointer !important;
}
.btn-primary{
    background-color: #4DA6FF !important;
    color: #FFFFFF !important;
}
.btn-primary:hover{
    background-color: #4DA6FF !important;
    color: #FFFFFF !important;
}
.input-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.form-input{
    display: flex;
    z-index: 1;
    width: 100% !important;
    background-color: #00000000;
    border: 0;
    border-bottom: 1px solid #7c7c7c !important;
    padding: 1rem 1rem !important;
    padding-inline: 0 !important;
}

.form-label{
    position: relative;
    z-index: 0;
    font-weight: 300 !important;
    color: #7c7c7c;
    top: -2rem;
}

.form-input:focus{
    outline: none !important;
    border-bottom: 1px solid #4DA6FF !important;
    background-color: #00000000;
}

.form-input:focus + label{
    top: -3rem;
    font-size: 0.8rem;
    color: #383838 !important;
    transition: all 0.1s ease-in-out;
}
.form-touched{
    display: none;
}

.eye-icon{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: end;
    bottom: 2.75rem;
    right: 1rem;
    left: 0;
    margin-left: auto;
    margin-right: 0.5rem;
    color: #7c7c7c;
    cursor: pointer;
}

.link{
    color: #4DA6FF;
    text-decoration: none !important;
}

.text-primary{
    color: #4DA6FF !important;
}

.text-secondary{
    color: #7c7c7c !important;
}

.text-third{
    color: #F2C419 !important;
}

.w-100{
    width: 100% !important;
}

.title-1{
    font-size: 5rem !important;
    line-height: 1 !important;
}

.title-2{
    font-size: 1.5rem !important;
}
.loading{
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.mbn-1{
    margin-bottom: -1rem !important;
}